@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p>Your counter value is @currentCount</p>

<CascadingValue Value="@currentCount" Name="Counter">
    <CascadingValue Value="@message" Name="Message">
        <Component1></Component1>
    </CascadingValue>
</CascadingValue>

<button @onclick="()=>currentCount++">Increment</button>
<button @onclick="()=>currentCount--">Decrement</button>

<button @onclick="IncrementCount">Increment</button>
<button @onclick="DecrementCount">Decrement</button>

<button @onclick="ResetCount">Reset</button>

@code {

    private int currentCount;
    private string message = "Stan licznika";

    protected override void OnInitialized()
    {
        currentCount = 10;
    }

    private void IncrementCount()
    {
        currentCount++;
    }

    private void DecrementCount()
    {
        currentCount--;
    }

}
