@page "/"
@using static SGH.Shopper.ClientApp.Components.PdfViewComponent;

<h1 class="bg-info">Hello, world!</h1>


<p>Welcome!</p>

 @html


@*<iframe src="https://www.soundczech.cz/temp/lorem-ipsum.pdf#toolbar=0" width="100%" height="100%"></iframe>
*@

<PdfViewComponent Source="https://www.soundczech.cz/temp/lorem-ipsum.pdf" Toolbar="false" View="ViewType.FitH" />

@code {

    private MarkupString html;

    protected override void OnInitialized()
    {
       // hint: użyj HTML Sanitizer
       // np. https://github.com/mganss/HtmlSanitizer
       html = new MarkupString(@"<h1>Hello</h1><em>Markup string</em>");

       base.OnInitialized();
    }

}