@page "/"

<h1 class="bg-info">Hello, world!</h1>


<p>Welcome!</p>

 @html


@code {

    private MarkupString html;

    protected override void OnInitialized()
    {
       // hint: użyj HTML Sanitizer
       // np. https://github.com/mganss/HtmlSanitizer
       html = new MarkupString(@"<h1>Hello</h1><em>Markup string</em>");

       base.OnInitialized();
    }

}