@page "/authorization/login"
@using SGH.Shopper.ClientApp.Models;
@inject CustomAuthenticationStateProvider AuthenticationStateProvider


<h3>Login</h3>

<EditForm Model="loginRequest" OnValidSubmit="LoginAsync">

    <div class="form-grup">
        <label>
            Username:
            <InputText id="username" @bind-Value="loginRequest.Username" class="form-control" />
        </label>
    </div>


    <div class="form-grup">
        <label>
            Password:
            <InputText id="password" @bind-Value="loginRequest.Password" class="form-control" />
        </label>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>

</EditForm>



<button class="btn btn-outline-primary" @onclick="AuthenticationStateProvider.LogoutAsync">Logout</button>

@code {

    private LoginRequest loginRequest = new LoginRequest();

    private async Task LoginAsync()
    {
        await AuthenticationStateProvider.LoginAsync(loginRequest);
    }

}
