@page "/secret"
@using System.IdentityModel.Tokens.Jwt;
@inject AuthenticationStateProvider AuthenticationStateProvider


<h3>Secret</h3>

<AuthorizeView>
    <Authorized>
        <div>Authenticated</div>

        Hello @context.User.Identity?.Name
    </Authorized>

    <Authorizing>
        <div>Authorizing...</div>
    </Authorizing>

    <NotAuthorized>
        <div>Not authenticated</div>
    </NotAuthorized>
</AuthorizeView>



@code {


    protected override async Task OnInitializedAsync()
    {
        var authState= await AuthenticationStateProvider.GetAuthenticationStateAsync();

        var name = authState.User.FindFirst(JwtRegisteredClaimNames.Sub);

        string username = authState.User.Identity?.Name;
    }


}
