
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    </div>
</div>

<nav class="flex-column">

    <div class="nav-item">
        <NavLink class="nav-link" href="counter" >
            <span class="oi oi-plus"></span> Counter
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="products" >
            <span class="oi oi-plus"></span> Products
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="users">
            <span class="oi oi-plus"></span> Users
        </NavLink>
    </div>

</nav>

@code {

}
