
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    </div>
</div>

<nav class="flex-column">

    <div class="nav-item">
        <NavLink class="nav-link" href="counter" >
            <span>Counter</span>
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="products" >
            <span>Products</span>
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="users">
            <span>Users</span>
        </NavLink>
    </div>

</nav>

@code {

}
