@page "/users"
@using Shopper.Domain
@inject HttpClient client

<h3>Users</h3>


@if (users == null)
{
    <p>Loading Users...</p>
}
else
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Name @user.Email</li>
        }
    </ul>
}

@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        users = await client.GetFromJsonAsync<IEnumerable<User>>("users");
    }



}
