@page "/users"
@inject JsonPlaceholderService Api

<h3>Users</h3>


@if (users == null)
{
   <LoadingComponent Message="Loading users" />
}
else
{
    <ul>
        @foreach (var user in users)
        {
            <li>@user.Name @user.Email</li>
        }
    </ul>
}

@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(TimeSpan.FromSeconds(5));

        users = await Api.GetUsers();
    }



}
